[Desktop Entry]
Version=1.0
Name=System Control Panel
Comment=GUI System control panel for Securonis Linux
Comment[tr]=Securonis Linux için GUI Sistem kontrol paneli
Comment[es]=Panel de control del sistema GUI para Securonis Linux
Comment[fr]=Panneau de contrôle système GUI pour Securonis Linux
Comment[de]=GUI-Systemsteuerungspanel für Securonis Linux
Comment[ar]=لوحة تحكم نظام GUI لنظام Securonis Linux
Comment[ru]=Графическая панель управления системой для Securonis Linux
Comment[zh]=Securonis Linux的GUI系统控制面板
Comment[ja]=Securonis LinuxのGUIシステムコントロールパネル
Comment[ko]=Securonis Linux용 GUI 시스템 제어판
Comment[pt]=Painel de controle do sistema GUI para Securonis Linux
Comment[it]=Pannello di controllo del sistema GUI per Securonis Linux
Comment[nl]=GUI-systeemconfiguratiescherm voor Securonis Linux
Comment[sv]=GUI-systemkontrollpanel för Securonis Linux
Comment[pl]=Graficzny panel sterowania systemem dla Securonis Linux
Exec=controlpanelgui
Icon=/usr/share/icons/securonis/icon16.png
Terminal=false
Type=Application
Categories=Securonis;Securonis;
