[Desktop Entry]
Version=1.0
Name=Moneronis
Comment=CLI Menu for Monero
Comment[tr]=Monero için CLI Menüsü
Comment[es]=Menú CLI para Monero
Comment[fr]=Menu CLI pour Monero
Comment[de]=CLI-Menü für Monero
Comment[ar]=قائمة سطر الأوامر لـ Monero
Comment[ru]=CLI-меню для Monero
Comment[zh]=Monero的命令行菜单
Comment[ja]=MoneroのCLIメニュー
Comment[ko]=Monero용 CLI 메뉴
Comment[pt]=Menu CLI para Monero
Comment[it]=Menu CLI per Monero
Comment[nl]=CLI-menu voor Monero
Comment[sv]=CLI-meny för Monero
Comment[pl]=Menu CLI dla Monero
Exec=mate-terminal -- bash -c "sudo /usr/local/bin/moneronis; exec bash"
Icon=/usr/share/icons/securonis/monero.png
Terminal=true
Type=Application
Categories=GTK;Network;
