[Desktop Entry]
Version=1.0
Name=Password Manager
Comment=Password Manager securely stores and manages passwords
Comment[tr]=Parola Yöneticisi parolalarınızı güvenli şekilde saklar ve yönetir
Comment[es]=El gestor de contraseñas almacena y gestiona contraseñas de forma segura
Comment[fr]=Le gestionnaire de mots de passe stocke et gère les mots de passe en toute sécurité
Comment[de]=Der Passwort-Manager speichert und verwaltet Passwörter sicher
Comment[ar]=مدير كلمات المرور يخزن ويدير كلمات المرور بأمان
Comment[ru]=Менеджер паролей надежно хранит и управляет паролями
Comment[zh]=密码管理器安全地存储和管理密码
Comment[ja]=パスワードマネージャーはパスワードを安全に保存および管理します
Comment[ko]=비밀번호 관리자는 비밀번호를 안전하게 저장하고 관리합니다
Comment[pt]=O gerenciador de senhas armazena e gerencia senhas com segurança
Comment[it]=Il gestore password archivia e gestisce le password in modo sicuro
Comment[nl]=Wachtwoordbeheerder slaat wachtwoorden veilig op en beheert ze
Comment[sv]=Lösenordshanteraren lagrar och hanterar lösenord säkert
Comment[pl]=Menedżer haseł bezpiecznie przechowuje i zarządza hasłami
Exec=passmanager
Icon=/usr/share/icons/securonis/icon5.png
Terminal=false
Type=Application
Categories=Securonis;Securonis;
