[Desktop Entry]
Version=1.0
Name=System Knight
Comment=System Knight is a security tool for running ClamAV, Rkhunter, and Lynis scans
Exec=mate-terminal -- bash -c "sudo /usr/local/bin/systemknight; exec bash"
Icon=/usr/share/icons/securonis/systemknight.png
Terminal=true
Type=Application
Categories=Securonis;Securonis;
