[Desktop Entry]
Version=1.0
Name=System Manager
Comment=System manager for Securonis Linux
Comment[tr]=Securonis Linux için sistem yöneticisi
Comment[es]=Administrador del sistema para Securonis Linux
Comment[fr]=Gestionnaire système pour Securonis Linux
Comment[de]=Systemmanager für Securonis Linux
Comment[ar]=مدير النظام لـ Securonis Linux
Comment[ru]=Системный менеджер для Securonis Linux
Comment[zh]=Securonis Linux 的系统管理器
Comment[ja]=Securonis Linuxのシステムマネージャー
Comment[ko]=Securonis Linux용 시스템 관리자
Comment[pt]=Gerenciador de sistema para Securonis Linux
Comment[it]=Gestore di sistema per Securonis Linux
Comment[nl]=Systeembeheerder voor Securonis Linux
Comment[sv]=Systemhanterare för Securonis Linux
Comment[pl]=Menedżer systemu dla Securonis Linux
Exec=pkexec system-manager
Icon=/usr/share/icons/securonis/icon7.png
Terminal=false
Type=Application
Categories=Securonis;Securonis;
