[Desktop Entry]
Version=1.0
Name=VesperaCrypt
Comment=Simple and easy file encryption tool for Securonis Linux
Comment[tr]=Securonis Linux için basit ve kolay dosya şifreleme aracı
Comment[es]=Herramienta simple y fácil de cifrado de archivos para Securonis Linux
Comment[fr]=Outil simple et facile de chiffrement de fichiers pour Securonis Linux
Comment[de]=Ein einfaches und leichtes Datei-Verschlüsselungstool für Securonis Linux
Comment[ar]=أداة تشفير ملفات بسيطة وسهلة لـ Securonis Linux
Comment[ru]=Простой и удобный инструмент шифрования файлов для Securonis Linux
Comment[zh]=适用于Securonis Linux的简单易用文件加密工具
Comment[ja]=Securonis Linux向けのシンプルで簡単なファイル暗号化ツール
Comment[ko]=Securonis Linux용 간단하고 쉬운 파일 암호화 도구
Comment[pt]=Ferramenta simples e fácil de criptografia de arquivos para Securonis Linux
Comment[it]=Strumento semplice e facile per la crittografia dei file per Securonis Linux
Comment[nl]=Eenvoudige en gemakkelijke bestandversleutelingshulpmiddel voor Securonis Linux
Comment[sv]=Enkelt och lättanvänt filkrypteringsverktyg för Securonis Linux
Comment[pl]=Proste i łatwe narzędzie do szyfrowania plików dla Securonis Linux
Exec=vesperacrypt
Icon=/usr/share/icons/securonis/vs.png
Terminal=false
Type=Application
Categories=Securonis;Securonis;
