[Unit]
Description=Root0 - Configure VFS cache pressure
DefaultDependencies=no
Before=sysinit.target
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/sysctl -w vm.vfs_cache_pressure=100
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target 