[Unit]
Description=Root0 - Limit TCP orphaned sockets
DefaultDependencies=no
Before=network.target
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/sysctl -w net.ipv4.tcp_max_orphans=262144
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target 