[Unit]
Description=Root0 - Ignore bogus ICMP responses
DefaultDependencies=no
Before=network.target
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/sysctl -w net.ipv4.icmp_ignore_bogus_error_responses=1
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target 