[Unit]
Description=Root0 - Protect FIFO special files
DefaultDependencies=no
Before=sysinit.target
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/sysctl -w fs.protected_fifos=2
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target 