[Unit]
Description=Root0 - Restrict performance events access
DefaultDependencies=no
Before=sysinit.target
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/sysctl -w kernel.perf_event_paranoid=2
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target 