[Unit]
Description=Root0 - Enable ASLR
DefaultDependencies=no
Before=sysinit.target
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/sysctl -w kernel.randomize_va_space=2
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target 