[Unit]
Description=Root0 - ARP table maximum entries threshold
DefaultDependencies=no
Before=network.target
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/sysctl -w net.ipv4.neigh.default.gc_thresh3=2048
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target 