[Unit]
Description=Root0 - Ignore ICMP broadcasts
DefaultDependencies=no
Before=network.target
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/sysctl -w net.ipv4.icmp_echo_ignore_broadcasts=1
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target 