[Unit]
Description=Root0 - Disable kexec functionality
DefaultDependencies=no
Before=sysinit.target
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/sysctl -w kernel.kexec_load_disabled=1
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target 