[Unit]
Description=Root0Extra - TCP Forward Acknowledgements
DefaultDependencies=no
Before=network.target
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/sysctl -w net.ipv4.tcp_fack=1
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
