[Unit]
Description=Root0 - Harden BPF JIT compiler
DefaultDependencies=no
Before=sysinit.target
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/sysctl -w net.core.bpf_jit_harden=1
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target 