[Unit]
Description=Root0 - Configure memory dirty ratios
DefaultDependencies=no
Before=sysinit.target
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/sbin/sysctl -w vm.dirty_ratio=30
ExecStart=/usr/sbin/sysctl -w vm.dirty_background_ratio=10
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target 