[Unit]
Description=Seconionis Tor Traffic Routing
After=network-online.target tor.service
Wants=network-online.target tor.service
Requires=tor.service

[Service]
Type=oneshot
ExecStart=/usr/bin/seconionis start
ExecStop=/usr/bin/seconionis stop
RemainAfterExit=yes
TimeoutStartSec=60
TimeoutStopSec=60

[Install]
WantedBy=multi-user.target